@import "../../../assets/scss/variables";

.brand {
  width: 8rem;
  height: 3rem;
  background-image: url("../../../assets/imgs/logo_dc.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.imagem-indicacao {
  width: 100%;
  max-width: 72px;
}

section[id="zap"] {
  color: #fff;
  background-color: $dcl-primary;
}

footer {
  font-size: 0.9rem;
  color: $dcl-primary;
  margin-top: 1rem;
  padding: 1rem 1rem 0 1rem;
  background-color: $dcl-second;
  a {
    color: $dcl-primary;
    text-decoration: none;
    width: fit-content;
    &:hover {
      filter: brightness(150%);
    }
  }
}

div.footer-brand {
  padding: 0.5rem;
  width: min-content;
  background-color: #e2e2e2 !important;
}
